<mat-toolbar>
  <div class="burger-menu visible-sm-block visible-xs-block">
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <a routerLink="/" class="logo">
    <mat-icon>movie</mat-icon>
    
    <strong class="logo__text">
      MovieAPP
    </strong>
  </a>

  <nav class="navbar-utils">
    <ul class="navigation-items">
      <li *ngIf="!authService.isLoggedIn()">
        <a routerLink="/">Home</a>
      </li>

      <li *ngIf="!authService.isLoggedIn()">
        <a routerLink="/auth">Login/Register</a>
      </li>

      <li *ngIf="authService.isLoggedIn()">
        <a routerLink="/dashboard">Home</a>
      </li>

      <li *ngIf="authService.isLoggedIn()">
        <a routerLink="/dashboard/add-movie">Add movie</a>
      </li>

      <li *ngIf="authService.isLoggedIn()">
        <a (click)="authService.logout()">Logout</a>
      </li>
    </ul>
  </nav>
</mat-toolbar>
