@import 'variables';
@import 'settings';


.movie {
    & {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .movie__aside {
        .movie__image {
            max-width: 200px;
        }
    }
    .movie__content {
        padding-left: 30px;
    }

    .list-movie-details {
        list-style: none;

        li {
            margin-bottom: 5px;
        }
    }
    .movie__rating {
        display: flex;
        align-items: center;
    }

    .movie__rate{ 
        margin-left: 10px;
        span {
            display: inline-block;
            background: $orange;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .list-stars { 
        list-style: none;
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
        }
    }
    &--large {
        .movie__aside {
            .movie__image {
                max-width: 400px;
            }
        }
    }

    @media(max-width: $responsive-xs) {
        & {
            display: block;
            margin-bottom: 40px;
            
            .movie__aside {
                display: flex;
                justify-content: center;

                .movie__image {
                    max-width: 100%;
                    margin-bottom: 10px;
                }
            }
            .movie__content{ 
                padding-left: 0;

                h3 {
                    font-size: 16px;
                }
            }
        }

        &--large {
            .movie__aside {
                .movie__image {
                    max-width: 100%;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
