<div class="intro-banner">
    <div class="container">
        <div class="intro-banner__content">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                At nesciunt laboriosam commodi suscipit a perspiciatis rerum eius voluptatibus voluptates quia quis accusantium, rem molestiae enim, autem ipsa. Nam reiciendis recusandae numquam dolores rem sequi quam corporis eum fugit. Velit illo voluptas a fuga quod. 
                Consectetur voluptas enim recusandae molestiae sequi.
            </p>
        </div>
    </div>
</div>