<app-intro-banner 
    [image]="'/assets/images/dashboard-banner.jpg'"
    [content]="'Welcome to your movie library !'">
</app-intro-banner>

<section class="section-list-movies">
    <div class="container">
        <div class="section__head">
            <h1 class="section__title">
                <strong>
                    My Movies
                </strong>
            </h1>

            <button routerLink='/dashboard/add-movie' mat-raised-button>
                Add new movie
            </button>
        </div>
        
        <div class="section__body">
            <ng-container *ngIf="listMovies.length; else noMovies">
                <app-movie *ngFor="let movie of listMovies" [movie]='movie'></app-movie>
            </ng-container>
            
            <ng-template #noMovies>
                <ng-container *ngIf="isLoading">
                    <mat-spinner
                        [diameter]='200'
                        [value]="90"
                    ></mat-spinner>  
                </ng-container>
                
                <ng-container *ngIf="!isLoading">
                    <h2>
                        Your current movie library is empty, please go to this URL to add a movie ! 
                    </h2>
    
                    <button routerLink="/dashboard/add-movie" mat-raised-button color="primary">
                       Add movie 
                    </button>
                </ng-container>
            </ng-template>
        </div>
    </div>
</section>