@import 'variables';


.section-list-movies {
    & {
        padding: 40px 0;
    }
    .section__head {
        margin-bottom: 20px;
    }
}

.movie {
    & {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .movie__aside {
        .movie__image {
            max-width: 200px;
        }
    }
    .movie__content {
        padding-left: 30px;
    }

    .list-movie-details {
        list-style: none;

        li {
            margin-bottom: 5px;
        }
    }
    .movie__rating {
        display: flex;
        align-items: center;
    }

    .movie__rate{ 
        margin-left: 10px;
        span {
            display: inline-block;
            background: $orange;
            text-align: center;
            vertical-align: middle;
            line-height: 30px;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }

    .list-stars { 
        list-style: none;
        display: flex;
        align-items: center;

        li {
            display: flex;
            align-items: center;
        }
    }
}
