<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <a *ngIf="!authService.isLoggedIn()" mat-list-item routerLink="/home" (click)="sidenav.close()">
          <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>
      
      <a *ngIf="authService.isLoggedIn()" mat-list-item routerLink="/dashboard" (click)="sidenav.close()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
      </a>

      <a *ngIf="!authService.isLoggedIn()" mat-list-item routerLink="/auth" (click)="sidenav.close()">
          <mat-icon>login</mat-icon> <span class="nav-caption">Login/Register</span>   
      </a>
      
      <a *ngIf="authService.isLoggedIn()" mat-list-item routerLink="/dashboard/add-movie" (click)="sidenav.close()">
          <mat-icon>add_circle</mat-icon><span class="nav-caption">Add movie</span>
      </a>

      <a *ngIf="authService.isLoggedIn()" mat-list-item routerLink="/dashboard/add-movie" (click)="sidenav.close(); authService.logout()">
        <mat-icon>logout</mat-icon><span class="nav-caption">Logout</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
    
    <main class="main">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>