@import 'variables';

.footer {
    padding: 30px 0;
    background-image: url('/assets/images/footer-background.jpg');
    background-color: $gray;
    background-repeat: repeat;
    text-align: center;
    color: $purple;
}