<app-intro-banner></app-intro-banner>

<section class="section-today-best-choice">
    <div class="container">
        <div class="section__body">
            <div class="section__movie-rating">
                <h2>
                    TODAY BEST CHOICE
                </h2>

                <div *ngIf="images?.length; else noMovies" class="section__slider">
                    <carousel
                        [width]='600'
                        [cellsToShow]='2'
                        [height]='320'
                        [images]="images">

                        <ng-container *ngFor="let imagePath of images">
                            <div class="carousel-cell">
                                <img [src]="imagePath">
                            </div>
                        </ng-container>
                    </carousel>
                </div>
                <ng-template #noMovies>
                    <ng-container *ngIf="isLoading">
                        <mat-spinner
                            [diameter]='200'
                            [value]="90"
                        ></mat-spinner>  
                    </ng-container>
                    
                    <ng-container *ngIf="!isLoading">
                        <div class="section__slider-no-content">
                            <h3>
                                <strong>
                                    Empty movie list 
                                </strong>
                            </h3>
        
                            <p>
                                Please login to the Movie APP to add movie    
                            </p>
        
                            <button routerLink='/auth' mat-raised-button>
                                Login
                            </button>
                        </div>
                    </ng-container>
                </ng-template>
            </div>
        </div>
    </div>
</section>

<cn-cinema></cn-cinema>