@import 'mixins';
@import 'variables';
@import 'settings';

.intro-banner {
    & {
        @include background-image;
        padding: 160px 0;
        color: $white;
        
    }
    &__content {
        max-width: 600px;
        margin-right: auto;    
    }
    
    @media(max-width: $responsive-xs) {
        background-position: 0% 20%;
    }
}