@import 'variables';

.section-preview-movie {
    & {
        padding: 40px 0 60px;
    }
    .section__bar {
        margin-bottom: 20px;
        
        .mat-raised-button {
            background: $orange;
        }
    }
    .section__head {
        margin-bottom: 40px;
    }
    .section__content {
        margin-top: 50px;
    }
}