@import 'settings';
@import 'variables';
@import 'mixins';


/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { 
    min-width: 320px; 
    background: $white; 
    font-family: $font-family-sans-serif; font-size: $font-size-base; 
    line-height: $line-height-base; 
    color: $black; 
    overflow-x: hidden; 
}

a { color: inherit; text-decoration: none; transition: .4s; }

a:hover,
a[href^="tel"] { text-decoration: none; color: $black }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: calc(#{$line-height-base / 2}); }

h1, .h1 { font-size: 48px; font-family: $font-family-serif; line-height: 1.4; }
h2, .h2 { font-size: 42px; font-family: $font-family-serif; color: $dark-blue; }
h3, .h3 { font-size: 22px; font-family: $font-family-serif; }
h4, .h4 { font-size: 16px; color: $dark-blue; }
h5, .h5 { font-size: 15px; }
h6, .h6 { font-size: 14px; }

p,
ul,
ol,
dl,
hr,
table,
blockquote { margin-bottom: $line-height-base; }

h1[class],
h2[class],
h3[class],
h4[class],
h5[class],
h6[class],
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
ol:last-child,
dl:last-child,
table:last-child,
blockquote:last-child { margin-bottom: 0; }

//  Mobile Basic

/**
	Review comment added custom media queries because I don't like using fxLayout directive
	fxLayout doesn't give you flexibility for the SCSS and it's hard to read especially when you
	have more HTML elements
*/

@media (max-width: $responsive-xs) {
	h1 { font-size: 28px; }
	h2 { font-size: 24px; }
	h3 { font-size: 18px; }
	h4 { font-size: 16px; }
	h5 { font-size: 14px; }
	h6 { font-size: 12px; }
}

.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}