/* ------------------------------------------------------------ *\
	Settings
\* ------------------------------------------------------------ */

$font-family-sans-serif     : 'Roboto', Helvetica, sans-serif;
$font-family-serif          : 'Arial', serif;

$font-size-base             : 13px;
$line-height-base           : normal;

$shell--large-max-width     : 960px;
$shell-max-width    		: 1200px;
$shell-gutter               : 10px;

$responsive-xxs             : 374px;
$responsive-xs              : 767px;
$responsive-sm              : 1023px;
$responsive-md              : 1200px;